**This notebook is an exercise in the [Advanced SQL](https://www.kaggle.com/learn/advanced-sql) course.  You can reference the tutorial at [this link](https://www.kaggle.com/alexisbcook/joins-and-unions).**

---

# Introduction

Here, you'll use different types of SQL **JOINs** to answer questions about the [Stack Overflow](https://www.kaggle.com/stackoverflow/stackoverflow) dataset.

Before you get started, run the following cell to set everything up.

In [1]:
# Set up feedback system
from learntools.core import binder
binder.bind(globals())
from learntools.sql_advanced.ex1 import *
print("Setup Complete")

Using Kaggle's public dataset BigQuery integration.

/opt/conda/lib/python3.7/site-packages/google/cloud/bigquery/client.py:440: UserWarning: Cannot create BigQuery Storage client, the dependency google-cloud-bigquery-storage is not installed.
  "Cannot create BigQuery Storage client, the dependency "

Setup Complete

The code cell below fetches the `posts_questions` table from the `stackoverflow` dataset.  We also preview the first five rows of the table.

In [2]:
from google.cloud import bigquery

# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "stackoverflow" dataset
dataset_ref = client.dataset("stackoverflow", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

# Construct a reference to the "posts_questions" table
table_ref = dataset_ref.table("posts_questions")

# API request - fetch the table
table = client.get_table(table_ref)

# Preview the first five lines of the table
client.list_rows(table, max_results=5).to_dataframe()

Using Kaggle's public dataset BigQuery integration.

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:19: UserWarning: Cannot use bqstorage_client if max_results is set, reverting to fetching data with the tabledata.list endpoint.

,id,title,body,accepted_answer_id,answer_count,comment_count,community_owned_date,creation_date,favorite_count,last_activity_date,last_edit_date,last_editor_display_name,last_editor_user_id,owner_display_name,owner_user_id,parent_id,post_type_id,score,tags,view_count
0,3216259,Function overloading and inheritance,<blockquote>\n <p><strong>Possible Duplicate:...,NaN,0,4,NaT,2010-07-09 20:18:51.660000+00:00,1,2010-07-09 20:49:47.220000+00:00,2017-05-23 12:26:47.287000+00:00,None,-1,None,204623,None,1,0,c++|inheritance|overloading,218
1,3217039,how to pass a double with [n][n] values into a...,<blockquote>\n <p><strong>Possible Duplicate:...,3217086.0,0,0,NaT,2010-07-09 22:54:42.847000+00:00,0,2010-07-09 23:17:58.993000+00:00,2017-05-23 11:47:37.667000+00:00,None,-1,None,383217,None,1,0,iphone|objective-c,82
2,3217358,Convert simple code from Perl to PHP (issue),<blockquote>\n <p><strong>Possible Duplicate:...,NaN,0,0,NaT,2010-07-10 00:50:50.480000+00:00,0,2010-07-11 00:01:51.583000+00:00,2017-05-23 12:18:35.953000+00:00,None,-1,None,388226,None,1,0,php|perl|function|pack,302
3,3227205,how to send more than three variables by using...,"<p>how can i send 3 text box,1 select button v...",NaN,0,0,NaT,2010-07-12 09:24:01.383000+00:00,0,2010-07-12 09:52:52.373000+00:00,2010-07-12 09:25:48.027000+00:00,None,47738,None,386361,None,1,0,html,114
4,3232809,bitshift equivalent of math.round,<p>(Math.round(var/var1)*var1)</p>\n\n<p>What ...,NaN,0,0,NaT,2010-07-12 22:34:26.247000+00:00,0,2010-07-13 00:00:32.173000+00:00,2010-07-13 00:00:32.173000+00:00,None,354992,None,354992,None,1,0,javascript,191

We also take a look at the `posts_answers` table.

In [3]:
# Construct a reference to the "posts_answers" table
table_ref = dataset_ref.table("posts_answers")

# API request - fetch the table
table = client.get_table(table_ref)

# Preview the first five lines of the table
client.list_rows(table, max_results=5).to_dataframe()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:8: UserWarning: Cannot use bqstorage_client if max_results is set, reverting to fetching data with the tabledata.list endpoint.

,id,title,body,accepted_answer_id,answer_count,comment_count,community_owned_date,creation_date,favorite_count,last_activity_date,last_edit_date,last_editor_display_name,last_editor_user_id,owner_display_name,owner_user_id,parent_id,post_type_id,score,tags,view_count
0,69637232,None,<p>I'd suggest trying pyspark/spark</p>\n<pre>...,None,None,1,NaT,2021-10-19 20:23:05.930000+00:00,None,2021-10-19 20:23:05.930000+00:00,NaT,None,NaN,None,13535120,69588989,2,0,None,None
1,69637234,None,<p>If you want to use higher-level functions y...,None,None,0,NaT,2021-10-19 20:23:26.823000+00:00,None,2021-10-19 20:23:26.823000+00:00,NaT,None,NaN,None,5003756,69637076,2,0,None,None
2,69637236,None,<p>To the first question</p>\n<blockquote>\n<p...,None,None,0,NaT,2021-10-19 20:23:32.983000+00:00,None,2021-10-19 20:23:32.983000+00:00,NaT,None,NaN,None,16523370,69635990,2,0,None,None
3,69637246,None,<p>If you want to access a class in another cl...,None,None,0,NaT,2021-10-19 20:24:13.700000+00:00,None,2021-10-19 20:24:13.700000+00:00,NaT,None,NaN,None,16653398,69637090,2,0,None,None
4,69637250,None,<p>putting content inside an extra <code>&lt;p...,None,None,0,NaT,2021-10-19 20:24:28.950000+00:00,None,2021-10-19 20:24:28.950000+00:00,NaT,None,NaN,None,4016922,69632918,2,0,None,None

You will work with both of these tables to answer the questions below.

# Exercises

### 1) How long does it take for questions to receive answers?

You're interested in exploring the data to have a better understanding of how long it generally takes for questions to receive answers.  Armed with this knowledge, you plan to use this information to better design the order in which questions are presented to Stack Overflow users.

With this goal in mind, you write the query below, which focuses on questions asked in January 2018.  It returns a table with two columns:
- `q_id` - the ID of the question
- `time_to_answer` - how long it took (in seconds) for the question to receive an answer

Run the query below (without changes), and take a look at the output.

In [4]:
first_query = """
              SELECT q.id AS q_id,
                  MIN(TIMESTAMP_DIFF(a.creation_date, q.creation_date, SECOND)) as time_to_answer
              FROM `bigquery-public-data.stackoverflow.posts_questions` AS q
                  INNER JOIN `bigquery-public-data.stackoverflow.posts_answers` AS a
              ON q.id = a.parent_id
              WHERE q.creation_date >= '2018-01-01' and q.creation_date < '2018-02-01'
              GROUP BY q_id
              ORDER BY time_to_answer
              """

first_result = client.query(first_query).result().to_dataframe()
print("Percentage of answered questions: %s%%" % \
      (sum(first_result["time_to_answer"].notnull()) / len(first_result) * 100))
print("Number of questions:", len(first_result))
first_result.head()

/opt/conda/lib/python3.7/site-packages/google/cloud/bigquery/client.py:440: UserWarning: Cannot create BigQuery Storage client, the dependency google-cloud-bigquery-storage is not installed.
  "Cannot create BigQuery Storage client, the dependency "

Percentage of answered questions: 100.0%
Number of questions: 134700

       q_id  time_to_answer
0  48382183      -132444692
1  48122871               0
2  48088669               0
3  48066866               0
4  48135427               0

You're surprised at the results and strongly suspect that something is wrong with your query.  In particular,
- According to the query, 100% of the questions from January 2018 received an answer.  But, you know that ~80% of the questions on the site usually receive an answer.
- The total number of questions is surprisingly low.  You expected to see at least 150,000 questions represented in the table.

Given these observations, you think that the type of **JOIN** you have chosen has inadvertently excluded unanswered questions.  Using the code cell below, can you figure out what type of **JOIN** to use to fix the problem so that the table includes unanswered questions?

**Note**: You need only amend the type of **JOIN** (i.e., **INNER**, **LEFT**, **RIGHT**, or **FULL**) to answer the question successfully.

In [5]:
# Your code here
correct_query = """
            SELECT q.id AS q_id,
                  MIN(TIMESTAMP_DIFF(a.creation_date, q.creation_date, SECOND)) as time_to_answer
              FROM `bigquery-public-data.stackoverflow.posts_questions` AS q
                  LEFT JOIN `bigquery-public-data.stackoverflow.posts_answers` AS a
              ON q.id = a.parent_id
              WHERE q.creation_date >= '2018-01-01' and q.creation_date < '2018-02-01'
              GROUP BY q_id
              ORDER BY time_to_answer
                """

# Check your answer
q_1.check()

# Run the query, and return a pandas DataFrame
correct_result = client.query(correct_query).result().to_dataframe()
print("Percentage of answered questions: %s%%" % \
      (sum(correct_result["time_to_answer"].notnull()) / len(correct_result) * 100))
print("Number of questions:", len(correct_result))

/opt/conda/lib/python3.7/site-packages/google/cloud/bigquery/client.py:440: UserWarning: Cannot create BigQuery Storage client, the dependency google-cloud-bigquery-storage is not installed.
  "Cannot create BigQuery Storage client, the dependency "

       q_id  time_to_answer
0  48544598             NaN
1  48512197             NaN
2  48488866             NaN
3  48482583             NaN
4  48397005             NaN

Correct

/opt/conda/lib/python3.7/site-packages/google/cloud/bigquery/client.py:440: UserWarning: Cannot create BigQuery Storage client, the dependency google-cloud-bigquery-storage is not installed.
  "Cannot create BigQuery Storage client, the dependency "

Percentage of answered questions: 83.20053366934737%
Number of questions: 161898

In [6]:
# Lines below will give you a hint or solution code
#q_1.hint()
#q_1.solution()

### 2) Initial questions and answers, Part 1

You're interested in understanding the initial experiences that users typically have with the Stack Overflow website.  Is it more common for users to first ask questions or provide answers?  After signing up, how long does it take for users to first interact with the website?  To explore this further, you draft the (partial) query in the code cell below.

The query returns a table with three columns:
- `owner_user_id` - the user ID
- `q_creation_date` - the first time the user asked a question 
- `a_creation_date` - the first time the user contributed an answer 

You want to keep track of users who have asked questions, but have yet to provide answers.  And, your table should also include users who have answered questions, but have yet to pose their own questions.  

With this in mind, please fill in the appropriate **JOIN** (i.e., **INNER**, **LEFT**, **RIGHT**, or **FULL**) to return the correct information.  

**Note**: You need only fill in the appropriate **JOIN**.  All other parts of the query should be left as-is.  (You also don't need to write any additional code to run the query, since the `check()` method will take care of this for you.)

To avoid returning too much data, we'll restrict our attention to questions and answers posed in January 2019.  We'll amend the timeframe in Part 2 of this question to be more realistic!

In [7]:
# Your code here
q_and_a_query = """
                SELECT q.owner_user_id AS owner_user_id,
                    MIN(q.creation_date) AS q_creation_date,
                    MIN(a.creation_date) AS a_creation_date
                FROM `bigquery-public-data.stackoverflow.posts_questions` AS q
                    FULL JOIN `bigquery-public-data.stackoverflow.posts_answers` AS a
                ON q.owner_user_id = a.owner_user_id 
                WHERE q.creation_date >= '2019-01-01' AND q.creation_date < '2019-02-01' 
                    AND a.creation_date >= '2019-01-01' AND a.creation_date < '2019-02-01'
                GROUP BY owner_user_id
                """

# Check your answer
q_2.check()

,owner_user_id,q_creation_date,a_creation_date
0,2346731,2019-01-17 17:30:37.507000+00:00,2019-01-01 05:23:00.653000+00:00
1,4527628,2019-01-14 05:08:07.400000+00:00,2019-01-01 06:32:25.467000+00:00
2,1034637,2019-01-14 22:37:47.517000+00:00,2019-01-01 07:04:37.627000+00:00
3,6530785,2019-01-01 06:59:14.123000+00:00,2019-01-01 08:52:27.940000+00:00
4,9299259,2019-01-04 13:35:21.653000+00:00,2019-01-01 11:45:26.073000+00:00

Correct

In [8]:
# Lines below will give you a hint or solution code
#q_2.hint()
#q_2.solution()

### 3) Initial questions and answers, Part 2

Now you'll address a more realistic (and complex!) scenario.  To answer this question, you'll need to pull information from *three* different tables!  This syntax very similar to the case when we have to join only two tables.  For instance, consider the three tables below.

![three tables](https://i.imgur.com/OyhYtD1.png)

We can use two different **JOINs** to link together information from all three tables, in a single query.

![double join](https://i.imgur.com/G6buS7P.png)

With this in mind, say you're interested in understanding users who joined the site in January 2019.  You want to track their activity on the site: when did they post their first questions and answers, if ever?

Write a query that returns the following columns:
- `id` - the IDs of all users who created Stack Overflow accounts in January 2019 (January 1, 2019, to January 31, 2019, inclusive)
- `q_creation_date` - the first time the user posted a question on the site; if the user has never posted a question, the value should be null
- `a_creation_date` - the first time the user posted a question on the site; if the user has never posted a question, the value should be null

Note that questions and answers posted after January 31, 2019, should still be included in the results.  And, all users who joined the site in January 2019 should be included (even if they have never posted a question or provided an answer).

The query from the previous question should be a nice starting point to answering this question!  You'll need to use the `posts_answers` and `posts_questions` tables.  You'll also need to use the `users` table from the Stack Overflow dataset.  The relevant columns from the `users` table are `id` (the ID of each user) and `creation_date` (when the user joined the Stack Overflow site, in DATETIME format).

In [9]:
# Your code here
three_tables_query = """
                        SELECT u.id AS id,
                         MIN(q.creation_date) AS q_creation_date,
                         MIN(a.creation_date) AS a_creation_date
                         FROM `bigquery-public-data.stackoverflow.users` AS u
                         LEFT JOIN `bigquery-public-data.stackoverflow.posts_answers` AS a
                             ON u.id = a.owner_user_id
                         LEFT JOIN `bigquery-public-data.stackoverflow.posts_questions` AS q
                             ON q.owner_user_id = u.id
                         WHERE u.creation_date >= '2019-01-01' and u.creation_date < '2019-02-01'
                         GROUP BY id
                     """

# Check your answer
q_3.check()

/opt/conda/lib/python3.7/site-packages/google/cloud/bigquery/client.py:440: UserWarning: Cannot create BigQuery Storage client, the dependency google-cloud-bigquery-storage is not installed.
  "Cannot create BigQuery Storage client, the dependency "

         id                  q_creation_date                  a_creation_date
0  10905738                              NaT                              NaT
1  10873797 2020-01-12 04:56:35.563000+00:00 2019-01-06 05:25:30.560000+00:00
2  10935074                              NaT                              NaT
3  10984584                              NaT                              NaT
4  10985070 2019-01-30 20:18:31.773000+00:00                              NaT

Correct

In [10]:
# Lines below will give you a hint or solution code
#q_3.hint()
#q_3.solution()

### 4) How many distinct users posted on January 1, 2019?

In the code cell below, write a query that returns a table with a single column:
- `owner_user_id` - the IDs of all users who posted at least one question or answer on January 1, 2019.  Each user ID should appear at most once.

In the `posts_questions` (and `posts_answers`) tables, you can get the ID of the original poster from the `owner_user_id` column.  Likewise, the date of the original posting can be found in the `creation_date` column.  

In order for your answer to be marked correct, your query must use a **UNION**.

In [11]:
# Your code here
all_users_query = """
                  """

# Check your answer
q_4.check()

Incorrect: You don't have a valid query yet.  Try again.

In [12]:
# Lines below will give you a hint or solution code
#q_4.hint()
#q_4.solution()

# Keep going

Learn how to use **[analytic functions](https://www.kaggle.com/alexisbcook/analytic-functions)** to perform complex calculations with minimal SQL code.

---




*Have questions or comments? Visit the [course discussion forum](https://www.kaggle.com/learn/advanced-sql/discussion) to chat with other learners.*